.top {
    width: 100%;
    height: 610px;
    background-image: url("/assets/bg_top.svg");
    background-repeat: no-repeat;
    background-size: 1100px;
    padding: var(--safe-area-padding);
    background-position: center;
    background-position-y: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo__container {
    height: 280px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 9999;
}

.logo__bg {
    height: 230px;
    width: 2500px;
    background-color: #fff;
    position: absolute;
    z-index: 8888;
    margin-right: 1900px;
    top: 120px;
    border-radius: var(--rounded-border);
    box-shadow: -7px 7px 0px -1px rgba(0, 87, 141, 0.58);
}

.logo__h1 {
    padding: 60px;
    font-size: 0.1px;
    a {
        img {
            width: 470px;
        }
    }
}

.top__content {
    display: flex;
    align-items: center;
    p,
    h2 {
        color: #fff;
    }
    p {
        width: 100%;
        max-width: 250px;
        font-size: 1.7rem;
        text-align: right;
        margin-right: 15px;
        font-weight: 700;
    }

    h2 {
        font-size: 7rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: var(--safe-area-padding);
}

.about__bg {
    height: 80px;
    width: 2500px;
    background-color: var(--color3);
    border-radius: var(--rounded-border);
    position: absolute;
    z-index: 0;
    top: 120px;
    margin-right: 1300px;
}

.about__content {
    z-index: 1;
    h2 {
        margin: 0 0 15px 30px;
        color: var(--color1);
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.about__content--text {
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    width: 360px;
    height: auto;
    padding: 30px;

    p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 0.85rem;
        line-height: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__form {
    margin-top: 30px;
    width: 710px;
    background-color: var(--color5);
    padding: 20px;
    margin-left: 30px;
    border-radius: var(--rounded-border);
    z-index: 1;

    h2 {
        text-transform: uppercase;
        color: var(--color2);
        font-size: 1.6rem;
        margin-bottom: 15px;
        text-align: center;
    }

    label {
        font-size: 0.1px;
    }

    input {
        border-radius: 50px;
        border: none;
        padding: 10px 15px;
        margin: 5px;
        width: 100%;
        max-width: 320px;

        &::placeholder {
            color: var(--color3);
        }
    }

    span {
        font-size: 0.76rem;
        color: var(--color2);
        font-weight: 700;
        display: block;
        margin: 20px 0 0 25px;
    }

    button {
        background-color: var(--color7);
        border: none;
        border-radius: 50px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        padding: 0 30px;
        height: 40px;
        margin-top: auto;
        margin-right: 100px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--color6);
        }
    }
}

.about__form--fieldset {
    display: flex;
    justify-content: space-around;
}

.about__form--code {
    width: 100%;
}

.indicators {
    width: 100%;
    max-width: 1140px;
    padding: var(--safe-area-padding);
    height: auto;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;

    hr {
        width: 100%;
        max-width: 100px;
        margin: 10px auto;
        color: var(--color3);
        background-color: var(--color3);
    }
}

.indicators__productivity,
.indicators__lucrativity,
.indicators__turnover {
    width: 100%;
    max-width: 300px;
    height: 200px;

    img {
        width: 70px;
        margin-bottom: 10px;
    }

    h3 {
        color: var(--color6);
        text-transform: uppercase;
        margin-bottom: 5px;
    }
}

.agenda--mb {
    display: none;
}

.agenda__bg {
    width: 2500px;
    height: 1440px;
    background-color: var(--color5);
    margin-left: -1400px;
    position: absolute;
    z-index: 0;
    border-radius: var(--rounded-border);
    top: 0;
}

.agenda__wrapper {
    padding-right: 50px;
}

.agenda {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

.agenda__main-speaker {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.agenda__main-speaker--logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    img {
        width: 220px;
        margin: -90px auto 30px auto;
        display: block;
    }

    h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        margin: 0 auto;
    }
}

.agenda__main-speaker--title-bg {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 530px;
    height: 80px;
    background-color: var(--color3);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.agenda__card--big {
    display: flex;
    width: 100%;
    max-width: 650px;
    height: 400px;
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    color: #fff;
    padding: 10px;
}

.agenda__card--img {
    border-right: 1px solid #fff;
    padding-right: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;

    img {
        width: 200px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.agenda__card--content,
.speakers__card--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;

    time,
    h2 {
        text-align: center;
    }

    hr {
        width: 100%;
        margin: 0 auto;
    }

    time {
        font-size: 2.5rem;
        font-weight: 700;
        display: block;
    }
}

.agenda__card--participacao,
.speakers__card--participacao {
    p {
        margin-bottom: 15px;
    }
}

.speakers {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    z-index: 1;
    position: relative;
    padding-right: 50px;
}

.speakers__card {
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    width: 100%;
    max-width: 545px;
    padding: 10px;
    margin: 5px 0 0 10px;
    display: flex;
    color: #fff;

    time {
        font-size: 1.9rem;
    }

    &:nth-child(odd) {
        margin-left: 0px;
    }
}

.speakers__card--img {
    margin-right: 15px;
    border-right: 1px solid #fff;
    padding-right: 15px;

    img {
        width: 170px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.companies {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    padding: var(--safe-area-padding);
    margin: 90px auto;
}

.companies__about {
    width: 100%;
    max-width: 300px;
    h2 {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 700;
        margin-bottom: 5px;
    }

    p {
        font-size: 0.8rem;
    }
}

.companies--vee {
    color: var(--color2);
}

.companies--grou {
    color: var(--color4);
}

.companies--pulses {
    color: var(--color1);
}

.articles__bg {
    width: 2500px;
    height: 350px;
    background-color: var(--color5);
    position: absolute;
    z-index: 0;
    margin-left: 0;
    border-radius: var(--rounded-border);
}

.articles--title-bg {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    width: 270px;
    height: 80px;
    background-color: var(--color3);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    z-index: 1;
}

.articles {
    padding-top: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;

    h2 {
        color: #fff;
        z-index: 1;
        position: relative;
        width: 100%;
        max-width: 150px;
        text-align: center;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.articles__links {
    display: flex;
    flex-direction: column;
    width: 70%;
    z-index: 1;
    position: relative;
    a {
        text-transform: uppercase;
        text-decoration: none;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.articles__links--purple {
    border-radius: var(--rounded-border);
    border-left: 8px solid var(--color2);
    background-color: #fff;
    transition: border-left 0.5s;
    color: var(--color2);

    &:hover {
        border-left: none;
    }
}

.articles__links--green {
    border-radius: var(--rounded-border);
    border-left: 8px solid var(--color3);
    background-color: #fff;
    transition: border-left 0.5s;
    color: var(--color3);

    &:hover {
        border-left: none;
    }
}

.articles__links--blue {
    border-radius: var(--rounded-border);
    border-left: 8px solid var(--color1);
    background-color: #fff;
    transition: border-left 0.5s;
    color: var(--color1);

    &:hover {
        border-left: none;
    }
}

.social {
    width: 100%;
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.social__div {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--color6);

    img {
        margin-bottom: 20px;
    }

    ul {
        li {
            display: inline;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:nth-child(2) {
        border-right: none;
    }

    &:nth-child(3) {
        border-left: 1px solid var(--color6);
        border-right: none;
    }
}
