.top {
    width: 100%;
    height: 610px;
    background-image: url("/assets/bg_top.svg");
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center;
    background-position-y: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo__container {
    height: 280px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-image: url("/assets/top_bg_logo.svg");
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: left;
    background-position-x: -60px;
}

.logo__h1 {
    padding: 60px;
    font-size: 0.1px;
    a {
        img {
            width: 470px;
        }
    }
}

.top__content {
    display: flex;
    align-items: center;
    p,
    h2 {
        color: #fff;
    }
    p {
        width: 100%;
        max-width: 250px;
        font-size: 1.7rem;
        text-align: right;
        margin-right: 15px;
        font-weight: 700;
    }

    h2 {
        font-size: 7rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    background-image: url("/assets/big_strip.svg");
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position-y: center;
    background-position-x: -30px;
}

.about__content {
    h2 {
        margin: 0 0 15px 30px;
        color: var(--color1);
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.about__content--text {
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    width: 360px;
    height: auto;
    padding: 30px;
    p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 0.85rem;
        line-height: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__form {
    margin-top: 30px;
    width: 710px;
    background-color: var(--color5);
    padding: 20px;
    margin-left: 30px;
    border-radius: var(--rounded-border);

    h2 {
        text-transform: uppercase;
        color: var(--color2);
        font-size: 1.6rem;
        margin-bottom: 15px;
        text-align: center;
    }

    label {
        font-size: 0.1px;
    }

    input {
        border-radius: 50px;
        border: none;
        padding: 10px 15px;
        margin: 5px;
        width: 100%;
        max-width: 320px;

        &::placeholder {
            color: var(--color3);
        }
    }

    span {
        font-size: 0.76rem;
        color: var(--color2);
        font-weight: 700;
        display: block;
        margin: 20px 0 0 25px;
    }

    fieldset {
        display: flex;
        justify-content: space-around;
    }

    button {
        background-color: var(--color2);
        border: none;
        border-radius: 50px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        padding: 0 30px;
        height: 40px;
        margin-top: auto;
        justify-self: center;
        align-self: stretch;
        margin-right: 100px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--color6);
        }
    }
}

.about__form--code {
    width: 100%;
}

.indicators {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;

    hr {
        width: 100%;
        max-width: 100px;
        margin: 10px auto;
        color: var(--color3);
        background-color: var(--color3);
    }
}

.indicators__productivity,
.indicators__lucrativity,
.indicators__turnover {
    width: 100%;
    max-width: 300px;
    height: 200px;

    img {
        width: 70px;
        margin-bottom: 10px;
    }

    h3 {
        color: var(--color6);
        text-transform: uppercase;
        margin-bottom: 5px;
    }
}

.bg__wrapper--agenda {
    background-image: url('/assets/bg_agenda.svg');
    background-repeat: no-repeat;
    background-position-x: -529px;
}

.agenda {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.agenda__main-speaker {
    display: flex;   
    justify-content: space-between; 
}

.agenda__main-speaker--logo {
    flex: 1;
}

.agenda__card--big {
    display: flex;
    width: 100%;
    max-width: 650px;
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    color: #fff;
    padding: 10px;
}

.agenda__card--img {
    border-right: 1px solid #fff;
    padding-right: 15px;
    margin-right: 15px;

    img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.agenda__card--content,
.speakers__card--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    time,
    h2 {
        text-align: center;
    }

    hr {
        width: 100%;
        margin: 0 auto;
    }

    time {
        font-size: 2.5rem;
        font-weight: 700;
        display: block;
    }
}

.agenda__card--participacao,
.speakers__card--participacao {

    p {
        margin-bottom: 15px;
    }
}

.speakers {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.speakers__card {
    background-color: var(--color1);
    border-radius: var(--rounded-border);
    width: 100%;
    max-width: 545px;
    padding: 10px;
    margin: 5px;
    display: flex;
    color: #fff;
    font-size: 0.9rem;

    time {
        font-size: 1.9rem;
    }
}

.speakers__card--img {
    margin-right: 15px;
    border-right: 1px solid #fff;
    padding-right: 15px;

    img {
        width: 170px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}


.companies {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
}

.companies__about {
    width: 100%;
    max-width: 300px;
    h2 {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 700;
        margin-bottom: 5px;
    }

    p {
        font-size: 0.8rem;
    }
}

.companies--vee {
    color: var(--color2);
}

.companies--grou {
    color: var(--color4);
}

.companies--pulses {
    color: var(--color1);
}