.top {
  width: 100%;
  height: 610px;
  background-image: url("/assets/bg_top.svg");
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: center;
  background-position-y: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo__container {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  background-image: url("/assets/top_bg_logo.svg");
  background-repeat: no-repeat;
  background-size: 1050px;
  background-position: left;
  background-position-x: -60px;
}

.logo__h1 {
  padding: 60px;
  font-size: 0.1px;
}

.logo__h1 a img {
  width: 470px;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__content p,
.top__content h2 {
  color: #fff;
}

.top__content p {
  width: 100%;
  max-width: 250px;
  font-size: 1.7rem;
  text-align: right;
  margin-right: 15px;
  font-weight: 700;
}

.top__content h2 {
  font-size: 7rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/assets/big_strip.svg");
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position-y: center;
  background-position-x: -30px;
}

.about__content h2 {
  margin: 0 0 15px 30px;
  color: var(--color1);
  font-size: 1.5rem;
  font-weight: 700;
}

.about__content--text {
  background-color: var(--color1);
  border-radius: var(--rounded-border);
  width: 360px;
  height: auto;
  padding: 30px;
}

.about__content--text p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 0.85rem;
  line-height: 20px;
}

.about__content--text p:last-child {
  margin-bottom: 0;
}

.about__form {
  margin-top: 30px;
  width: 710px;
  background-color: var(--color5);
  padding: 20px;
  margin-left: 30px;
  border-radius: var(--rounded-border);
}

.about__form h2 {
  text-transform: uppercase;
  color: var(--color2);
  font-size: 1.6rem;
  margin-bottom: 15px;
  text-align: center;
}

.about__form label {
  font-size: 0.1px;
}

.about__form input {
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  width: 100%;
  max-width: 320px;
}

.about__form input::-webkit-input-placeholder {
  color: var(--color3);
}

.about__form input:-ms-input-placeholder {
  color: var(--color3);
}

.about__form input::-ms-input-placeholder {
  color: var(--color3);
}

.about__form input::placeholder {
  color: var(--color3);
}

.about__form span {
  font-size: 0.76rem;
  color: var(--color2);
  font-weight: 700;
  display: block;
  margin: 20px 0 0 25px;
}

.about__form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__form button {
  background-color: var(--color2);
  border: none;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 30px;
  height: 40px;
  margin-top: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-right: 100px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.about__form button:hover {
  background-color: var(--color6);
}

.about__form--code {
  width: 100%;
}

.indicators {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

.indicators hr {
  width: 100%;
  max-width: 100px;
  margin: 10px auto;
  color: var(--color3);
  background-color: var(--color3);
}

.indicators__productivity,
.indicators__lucrativity,
.indicators__turnover {
  width: 100%;
  max-width: 300px;
  height: 200px;
}

.indicators__productivity img,
.indicators__lucrativity img,
.indicators__turnover img {
  width: 70px;
  margin-bottom: 10px;
}

.indicators__productivity h3,
.indicators__lucrativity h3,
.indicators__turnover h3 {
  color: var(--color6);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.bg__wrapper--agenda {
  background-image: url("/assets/bg_agenda.svg");
  background-repeat: no-repeat;
  background-position-x: -529px;
}

.agenda {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.agenda__main-speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.agenda__main-speaker--logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.agenda__card--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 650px;
  background-color: var(--color1);
  border-radius: var(--rounded-border);
  color: #fff;
  padding: 10px;
}

.agenda__card--img {
  border-right: 1px solid #fff;
  padding-right: 15px;
  margin-right: 15px;
}

.agenda__card--img img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.agenda__card--img img:last-child {
  margin-bottom: 0;
}

.agenda__card--content,
.speakers__card--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.agenda__card--content time,
.agenda__card--content h2,
.speakers__card--content time,
.speakers__card--content h2 {
  text-align: center;
}

.agenda__card--content hr,
.speakers__card--content hr {
  width: 100%;
  margin: 0 auto;
}

.agenda__card--content time,
.speakers__card--content time {
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
}

.agenda__card--participacao p,
.speakers__card--participacao p {
  margin-bottom: 15px;
}

.speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.speakers__card {
  background-color: var(--color1);
  border-radius: var(--rounded-border);
  width: 100%;
  max-width: 545px;
  padding: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 0.9rem;
}

.speakers__card time {
  font-size: 1.9rem;
}

.speakers__card--img {
  margin-right: 15px;
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.speakers__card--img img {
  width: 170px;
  margin-bottom: 10px;
}

.speakers__card--img img:last-child {
  margin-bottom: 0;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
}

.companies__about {
  width: 100%;
  max-width: 300px;
}

.companies__about h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
}

.companies__about p {
  font-size: 0.8rem;
}

.companies--vee {
  color: var(--color2);
}

.companies--grou {
  color: var(--color4);
}

.companies--pulses {
  color: var(--color1);
}
/*# sourceMappingURL=main.css.map */