@media (max-width: 411px) {
  .top {
    background-image: url("/assets/bg_top_mb.svg");
    background-repeat: no-repeat;
    background-size: 360px;
    height: 470px;
  }
  .logo__bg {
    height: 150px;
    top: 105px;
    width: 500px;
    margin-right: 0;
    margin-left: 80px;
  }
  .logo__h1 {
    padding: 0;
    margin-top: 90px;
  }
  .logo__h1 a img {
    width: 300px;
  }
  .top__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -20px;
  }
  .top__content p {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    max-width: 250px;
    margin-right: 0;
  }
  .top__content h2 {
    font-size: 4rem;
  }
  .about__bg {
    display: none;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 10px 0 10px;
  }
  .about__form {
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 360px;
  }
  .about__form h2 {
    text-align: left;
    max-width: 250px;
  }
  .about__form label {
    display: none;
  }
  .about__form button {
    margin-top: 30px;
    max-width: 150px;
  }
  .about__form input {
    width: 100%;
    margin: 5px auto;
  }
  .about__content {
    margin: 0 auto;
  }
  .about__content--text {
    width: 100%;
  }
  .about__form--fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 40px 0;
  }
  .indicators div {
    margin: 30px 0;
  }
  .agenda,
  .speakers {
    display: none;
  }
  .agenda--mb {
    background-color: var(--color5);
    border-radius: var(--rounded-border);
    padding: 40px 10px 10px 10px;
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 0;
  }
  .agenda--mb__logo {
    width: 50%;
    margin-bottom: 120px;
  }
  .agenda--mb__title--bg {
    background-color: var(--color3);
    height: 80px;
    width: 600px;
    margin-left: -180px;
    border-radius: var(--rounded-border);
    position: absolute;
    z-index: 1;
    top: 140px;
  }
  .agenda--mb__title--bg h2 {
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
  }
  .speakers-card--mb {
    background-color: var(--color1);
    padding: 10px;
    border-radius: var(--rounded-border);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .speakers-card--mb time,
  .speakers-card--mb h2,
  .speakers-card--mb h3,
  .speakers-card--mb hr {
    margin-bottom: 10px;
    text-align: center;
  }
  .speakers-card--mb time {
    font-size: 2.3rem;
    font-weight: 700;
    font-style: italic;
  }
  .speakers-card--mb h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .speakers-card--mb h3 {
    font-weight: 400;
  }
  .speakers-card--mb hr {
    width: 100%;
  }
  .speakers-card--mb .speakers-card--mb__nd-line {
    width: 30%;
  }
  .speakers-card--mb-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .speakers-card--mb-img img {
    width: 170px;
    padding: 10px;
  }
  .speakers-card--mb-img figcaption {
    text-align: center;
  }
  .companies {
    margin: 40px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px 0 30px;
  }
  .companies__about {
    margin-bottom: 30px;
  }
  .companies__about:last-child {
    margin-bottom: 0;
  }
  .articles__bg {
    width: 500px;
    background-color: var(--color3);
    height: 130px;
    border-radius: var(--rounded-border);
    margin-left: -130px;
  }
  .articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles h2 {
    height: 70px;
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }
  .articles__links {
    width: 120%;
    margin-left: 200px;
  }
  .articles__links a {
    height: auto;
  }
  .articles__links a span {
    display: block;
    width: 250px;
  }
  .articles__links--purple,
  .articles__links--green,
  .articles__links--blue {
    background-color: var(--color5);
  }
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social__div {
    max-width: 150px;
    border-right: none;
    border-bottom: 1px solid var(--color6);
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  .social__div:nth-child(3) {
    border-left: none;
    border-bottom: none;
  }
  .social__div--logo {
    width: 130px;
  }
  .social__div--icon {
    width: 30px;
  }
}
/*# sourceMappingURL=responsive.css.map */