@media (min-width: 1280px) and (max-width: 1300px) {
    .logo__bg {
        width: 1000px;
        margin-left: -200px;
    }

    .about__bg {
        width: 1500px;
        margin-left: -150px;
    }
}

@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about__content--text {
        width: 100%;
        max-width: 600px;
    }

    .about__form {
        width: 100%;
        max-width: 600px;
        margin: 30px 0;

        h2 {
            text-align: left;
        }

        input {
            margin: 10px 0;
            max-width: 100%;
        }
    }

    .about__form--fieldset {
        flex-direction: column;
        margin: 0;

        button {
            width: 100%;
        }
    }

    .indicators__productivity,
    .indicators__lucrativity,
    .indicators__turnover {
        max-width: 200px;
    }
}

@media (max-width: 500px) {
    .top {
        background-image: url("/assets/bg_top_mb.svg");
        background-repeat: no-repeat;
        background-size: 360px;
        height: 470px;
    }

    .logo__bg {
        height: 150px;
        top: 105px;
        width: 500px;
        margin-right: 0;
        margin-left: 80px;
    }

    .logo__h1 {
        padding: 0;
        margin-top: 90px;
        a {
            img {
                width: 300px;
            }
        }
    }

    .top__content {
        flex-direction: column;
        margin-top: -20px;
        p {
            display: block;
            text-align: center;
            font-size: 1.3rem;
            max-width: 250px;
            margin-right: 0;
        }

        h2 {
            font-size: 4rem;
        }
    }

    .about__bg {
        display: none;
    }

    .about {
        flex-direction: column-reverse;
        padding: 0 10px 0 10px;
    }

    .about__form {
        margin: 0 auto 30px auto;
        width: 100%;
        max-width: 360px;
        h2 {
            text-align: left;
            max-width: 250px;
        }

        label {
            display: none;
        }

        button {
            margin-top: 30px;
            max-width: 150px;
        }

        input {
            width: 100%;
            margin: 5px auto;
        }
    }

    .about__content {
        margin: 0 auto;
    }

    .about__content--text {
        width: 200%;

        p {
            width: 100%;
            max-width: 300px;
        }
    }

    .about__form--fieldset {
        flex-direction: column;
        margin: 0;
    }

    .indicators {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0 0 40px 0;
        div {
            margin: 30px 0;
        }
    }

    .indicators {
        margin-bottom: 40px;
    }

    .agenda,
    .speakers {
        display: none;
    }

    .agenda--mb {
        background-color: var(--color5);
        border-radius: var(--rounded-border);
        padding: 40px 10px 10px 10px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 0;
    }

    .agenda--mb__logo {
        width: 50%;
        margin-bottom: 120px;
    }

    .agenda--mb__title--bg {
        background-color: var(--color3);
        height: 80px;
        width: 600px;
        margin-left: -180px;
        border-radius: var(--rounded-border);
        position: absolute;
        z-index: 1;
        top: 140px;

        h2 {
            text-transform: uppercase;
            color: #fff;
            font-style: italic;
            font-weight: 900;
            font-size: 2rem;
            text-align: right;
            padding: 20px;
        }
    }

    .speakers-card--mb {
        width: 100%;
        background-color: var(--color1);
        padding: 10px;
        border-radius: var(--rounded-border);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        time,
        h2,
        h3,
        hr {
            margin-bottom: 10px;
            text-align: center;
        }

        time {
            font-size: 2.3rem;
            font-weight: 900;
            font-style: italic;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 900;
        }

        h3 {
            font-weight: 400;
        }

        hr {
            width: 100%;
        }

        .speakers-card--mb__nd-line {
            width: 30%;
        }
    }

    .speakers-card--mb-img {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 170px;
            padding: 10px;
        }

        figcaption {
            text-align: center;
        }
    }

    .companies {
        margin: 40px auto;
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    .companies__about {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .articles__bg {
        width: 500px;
        background-color: var(--color3);
        height: 130px;
        border-radius: var(--rounded-border);
        margin-left: -130px;
    }

    .articles {
        flex-direction: column;

        h2 {
            height: 70px;
            font-size: 1.8rem;
            text-transform: uppercase;
            width: 100%;
            max-width: 250px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    .articles__links {
        width: 120%;
        margin-left: 200px;
        a {
            height: auto;

            span {
                display: block;
                width: 250px;
            }
        }
    }

    .articles__links--purple,
    .articles__links--green,
    .articles__links--blue {
        background-color: var(--color5);
    }

    .social {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social__div {
        max-width: 150px;
        border-right: none;
        border-bottom: 1px solid var(--color6);
        margin-bottom: 30px;
        padding-bottom: 15px;

        &:nth-child(3) {
            border-left: none;
            border-bottom: none;
        }
    }

    .social__div--logo {
        width: 130px;
    }

    .social__div--icon {
        width: 30px;
    }
}
