@media (max-width: 411px) {

    .top {
        background-image: url('/assets/bg_top_mb.svg');
        background-repeat: no-repeat;
        background-size: 350px;
        height: 450px;
    }

    .logo__bg {
        height: 150px;
        top: 105px;
        width: 500px;
        margin-right: 0;
        margin-left: 90px;
    }

    .logo__h1 {
        padding: 0;
        margin-top: 100px;
        a {
            img {
                width: 300px;
            }
        }
    }

    .top__content {
        flex-direction: column;
        margin-top: -20px;
        p {
            display: block;
            text-align: center;
            font-size: 1.3rem;
            max-width: 250px;
            margin-right: 0;
        }

        h2 {
            font-size: 4rem;
        }
    }

    .about {
        flex-direction: column-reverse;
    }

    .about__form {
        margin:0;
    }
}